.question {
	background: #fefefe;
	border-radius: 8px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
	padding: 24px;

	&-list {
		border-top: 1px solid #e2e2e2;
		padding-top: 4rem;
		margin-top: 4rem;

		.page-room--admin & {
			padding-top: 0;
			border-top: none;
			margin-top: 0;
		}
	}

	&+.question {
		margin-top: 1.2rem;
	}

	&.highlighted {
		background: #f4f0ff;
		border: 1px solid #835afd;

		footer .user-info span {
			color: #29292e;
		}
	}

	&.answered {
		background: #d8dcdd;
		border: 0;
	}

	p {
		color: #29292e;
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 1.6rem;
		margin-top: 24px;

		>div {
			display: flex;
			gap: 14px;
		}

		.user-info {
			display: flex;
			align-items: center;

			img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
			}

			span {
				color: #737380;
				font-size: 14px;
			}
		}

		button {
			border: 0;
			background-color: transparent;
			cursor: pointer;

			&.like-button {
				display: flex;
				align-items: flex-end;
				color: #737380;
				gap: 8px;
				transition: filter 0.2s;

				&.liked {
					color: #835afd;

					svg path {
						stroke: #835afd;
					}
				}

				&:hover {
					filter: brightness(0.8);
				}
			}
		}
	}
}